<!-- https://codepen.io/Lachlandawson/pen/abmdyV -->

{% extends "base.html" %}

{% block content %}
<script src="https://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<script>
    $SCRIPT_ROOT = {{ request.script_root|tojson }};
  </script>

<canvas	width="200" height="200" id="mainCanvas" style="border: 1px black solid;">

</canvas>

<button onclick="clear_canvas()"> Clear </button>

<script type="text/javascript">
    var $canvas = $("canvas");
    var context = $canvas[0].getContext("2d");
    var lastEvent;
    var mouseDown = false;

    // On mouse events on the canvas
    $canvas.mousedown(function (e) {
        lastEvent = e;
        mouseDown = true;
    }).mousemove(function (e) {
        // Draw lines
        if (mouseDown) {
            context.beginPath();
            context.moveTo(lastEvent.offsetX, lastEvent.offsetY);
            context.lineTo(e.offsetX, e.offsetY);
            context.strokeStyle = "black";
            context.lineWidth = 15;
            context.lineCap = 'round';
            context.stroke();
            lastEvent = e;
        }
    }).mouseup(function () {
        // https://www.bogotobogo.com/python/Flask/Python_Flask_with_AJAX_JQuery.php
        mouseDown = false;
        var dataURL = $canvas[0].toDataURL();
        console.log(dataURL);
        $.ajax({
			url: '/send_img',
			data: dataURL,
			type: 'POST',
			success: function(response){
				console.log(response);
                $("#result").text(JSON.stringify(response, null, 2));
            },
			error: function(error){
				console.log(error);
			}
		});
    }).mouseleave(function () {
        $canvas.mouseup();
        //var dataURL = $canvas[0].toDataURL();
    });

    function clear_canvas(){
        console.log("S");
        context.clearRect(0, 0, $canvas[0].width, $canvas[0].height);

    }

</script>

<div id="result" style="white-space: pre-line;">
text
</div>
{% endblock %}
